@import 'globals';

#container-login{
    margin-top: 200px;
    display: grid;
    place-items: center;
    width: 50%;
}
#container-login h2{
    margin-bottom: 30px;
    font-family: $principal-font;
    font-weight: 700;
    color: $primary-color;
}
#container-form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    @include title;
    font-size: 20px;
}

#container-form button{
    margin-top:20px;
    width: 100%;

    @include button;
}

#container-login .form-label{
    float:left;
}