@import 'globals';

#container-login{
    margin-top: 200px;
    display: grid;
    place-items: center;
    width: 50%;
    font-family: 'Lucida Sans',Verdana, sans-serif;
}
#container-login h2{
    margin-bottom: 30px;

}
#container-form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Lucida Sans',Verdana, sans-serif;
}

#container-form button{
    margin-top:20px;
    width: 100%;

    @include button;
}

#container-login .form-label{
    float:left;
}