@import 'globals';

#navbar{
    background-color:$background-color;
}
.Navbar.Brand{
    font-family: 'Lucida Sans',Verdana, sans-serif;
    color: white;
}
#logo{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
#dropdown-button{
    @include button;
}
.dropdown-header{
    font-size: 30px;
    display: flex;
    justify-content: center;
}