@import 'globals';

#empleados-container {
    margin-top: 150px;
}
#empleados-crear-container,
#empleados-buscar-container{
    margin-top: 50px;

    h1{
        @include title;
    }
}

#empleados-crear-container{
    margin-bottom: 10px;
}
#button{
    @include button;
    margin-top: 30px;
}
.react-bs-table-sizePerPage-dropdown .dropdown-toggle{
    margin: 20px 0 20px 0;
    @include button;
}

.search-label{
    float: right;
    padding-bottom: 10px;

}

.sr-only{
    font-size: 0;
}
/* Paginacion */
.page-link{
    color: $secondary-color;
}

.nav-link{
    color: $primary-color;
    cursor: pointer;
    
    &:hover {
        color: $secondary-color;
    }
}