#login-container{
    margin-top: 20%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button{
    background: linear-gradient(90deg,#BF1064,#602C84);
    margin-top:15px;
}

#login-container .form-label{
    float:left;
}